@model List<Employee>;

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Сотрудники компании</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/Table.css" />
    
</head>



<body>
    <input type="hidden" id="EmployeeId" />


    <div class="button">
        <a href="#" id="open_popup">Добавить сотрудника</a>
    </div>
    <br clear="all" />
    
    <div class="popup" id="popup">
        <div class="popup_container">
            <div class="popup_body" id="popup_body">
                <p id="popup_title">Изменение данных сотрудника</p>
                <form action="">
                    <input id="Name" type="text" placeholder="Имя" />
                    <input id="SurName" type="text" placeholder="Отчество" />
                    <input id="LastName" type="text" placeholder="Фамилия" />
                    <input id="Email" type="text" placeholder="Email" />
                    <button type="button" id="AddBtn">Сохранить</button>
                    <button class="delete" type= "button" id="DeleteButton">Удалить</button>
                </form>
                <div class="popup_close" id="popup_close">&#10006</div>
            </div>
        </div>
    </div>
    <div>
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Фамилия</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                string getEmployeeArgument = $"{Model[i].Id},'{Model[i].FirstName}','{Model[i].SurName}','{Model[i].LastName}','{Model[i].Email}'";
                <tr id="@Model[i].Id" onclick="getEmployee(@getEmployeeArgument)">
                    <td>@(i+1)</td>
                    <td>@Model[i].FirstName</td>
                    <td>@Model[i].SurName</td>
                    <td>@Model[i].LastName</td>
                    <td>@Model[i].Email</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</body>

</html>

<script>

    //Добавление данных сотрудника в БД
    function Add(FirstName, SurName, LastName, Email) {
        $.ajax({
            url: '/Employee/Add',
            type: 'POST',
            async: false,
            data: { FirstName: FirstName, SurName: SurName, LastName: LastName, Email: Email },
            success: function(data) {
                location.reload()
            }
        });
    }

    //Изменение данных сотрудника в БД
    function Edit(Id, FirstName, SurName, LastName, Email) {
        $.ajax({
            url: '/Employee/Edit',
            type: 'POST',
            async: false,
            data: { Id: Id, FirstName: FirstName, SurName: SurName, LastName: LastName, Email: Email },
            success: function(data) {
                location.reload()
            }
        });
    }

    //Удаление данных сотрудника из БД
    function Delete(Id, FirstName, SurName, LastName, Email) {
        $.ajax({
            url: '/Employee/Delete',
            type: 'POST',
            async: false,
            data: { Id: Id },
            success: function(data) {
                location.reload()
            }
        });
    }


    //Получение данных выбранного сотрудника и открытие в попапе
    function getEmployee(Id, FirstName, SurName, LastName, Email) {
        document.getElementById("EmployeeId").value = Id;
        document.getElementById("Name").value = FirstName;
        document.getElementById("SurName").value = SurName;
        document.getElementById("LastName").value = LastName;
        document.getElementById("Email").value = Email;
        document.getElementById('popup').classList.add('active');
    }


    //Обработчик событий для кнопки сохранить в попапе
    document.getElementById("AddBtn").addEventListener("click", async() => {
        const Id = document.getElementById("EmployeeId").value;
        const FirstName = document.getElementById("Name").value;
        const SurName = document.getElementById("SurName").value;
        const LastName = document.getElementById("LastName").value;
        const Email = document.getElementById("Email").value;

        let EmployeeNamePattern = /^[a-zA-Zа-яА-ЯёЁ'][a-zA-Z-а-яА-ЯёЁ' ]+[a-zA-Zа-яА-ЯёЁ']?$/    
        let EmployeeEmailPattern = /^[^\s@('@')]+@('@')[^\s@('@')]+\.[^\s@('@')]+$/

        if (!EmployeeNamePattern.test(FirstName) || !EmployeeNamePattern.test(SurName) || !EmployeeNamePattern.test(LastName)) {
            alert("Проверьте что корректно введены имя, отчество, фамилия сотрудника!")
            return
        }

        if (!EmployeeEmailPattern.test(Email)) {
            alert("Введите корректный Email сотрудника!")
            return
        }
   
        document.getElementById("EmployeeId").value = "";

        if (Id === "") {
            await Add(FirstName, SurName, LastName, Email);
        }
        else {
            await Edit(Id, FirstName, SurName, LastName, Email);
        }
    });


    //Обработчик события для кнопки удалить в попапе
    document.getElementById("DeleteButton").addEventListener("click", async () => {
        const Id = document.getElementById("EmployeeId").value;
        document.getElementById("EmployeeId").value = "";
        await Delete(Id);
    })


    //Обработчик события для открытия попапа
    document.getElementById('open_popup').addEventListener('click', function(e) {
        e.preventDefault();
        document.getElementById('popup_title').textContent = "Добавление сотрудника";
        document.getElementById('popup_body').classList.add("for_add_info");
        document.getElementById('popup').classList.add('active');
    })


    //Обработчик события для кнопки закрытия попапа
    document.getElementById('popup_close').addEventListener('click', () => {
        document.getElementById('popup').classList.remove('active');
        document.getElementById("EmployeeId").value = "";
        document.getElementById("Name").value = "";
        document.getElementById("SurName").value = "";
        document.getElementById("LastName").value = "";
        document.getElementById("Email").value = "";
        document.getElementById('popup_title').textContent = "Изменение данных сотрудника";
        document.getElementById("popup_body").classList.remove("for_add_info");
    })

</script>
